{
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 80,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ],
  "semi": false,
  "tabWidth": 2,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "cursorOffset": 0,
  "eslintIntegration": true,
  "eqeqeq": false
}
